body {
    background: rgb(40, 72, 255);
}

.container {
    margin: auto;
}

#instructions,
#fun-image,
#guessing-game {
    border: 1px solid white;
    padding: 1%;
    text-align: center;
    font-size: 15px;    
}

li {
    display: block;
}

#instructions {
    background: rgb(245, 84, 138);
}
#direction-key {
    font-family: 'Itim', cursive;
}

#direction-key,
#guessing-game {
    font-weight: bold;
}

#middle {
    padding-left: 15px;
    width: 100%;
}


#reset {
    margin-left: 73px;
    padding: 15px;
    border: 1px solid white;
}

#fun-image {
    background: rgba(255, 255, 255, 0.452);
}

#guessing-game {
    background: rgb(255, 102, 0);
    color: beige;
}

.heading {
    font-family:'Sigmar One', cursive;
    font-weight: bold;
    background: none;
}

footer {
    background-color: rgba(117, 2, 121, 0.562);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(200, 201, 226);
    text-align: center;
}

.jumbotron {
    margin: 0 auto;
    background: rgba(255, 255, 0, 0.973);
}
