body {
    background: rgb(23, 50, 201);
}

.heading {
    font-family:'Sigmar One', cursive;
    font-weight: bold;
    background: none;
    text-align: center;
}

.jumbotron {
    margin: 0 auto;
    background: url("..//images/psychic-banner.jpg");
    border: 1px solid white;
}

.container {
   width: 960px;
}

#instructions,
#fun-image,
#guessing-game, { 
    border: 1px solid white;
    padding: 1%;
    text-align: center;
    font-size: 15px;  
    border-radius: 10px; 
}

li {
    display: block;
}

#instructions {
    background: rgb(243, 154, 184);
}
#direction-key {
    font-family: 'Itim', cursive;
}

#direction-key,
#guessing-game {
    font-weight: bold;
}

#reset {
    margin-left: 45px;
    padding: 15px;
    border: 1px solid white;
}

#fun-image {
    background: rgba(255, 255, 255, 0.671);
}

#guessing-game {
    background: rgb(255, 102, 0);
    color: beige;
}

footer {
    background-color: rgba(117, 2, 121, 0.562);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(200, 201, 226);
    text-align: center;
}

